
*,
body,
input,
select,
textarea,
button,
.ui-btn {
	font-family: 'Lato';
	font-weight: 400;
}

.ui-header .ui-title,
.ui-footer .ui-title {
    font-weight:300;
    font-size:24px;
}

#add-concern-btn,
#add-concern-action {
	background: #D14836;
	text-shadow: none;
	color: white;
}

#add-concern-form {
	padding: 10px 20px;
}

#urgency-high-label {
	background-color: #ff9999;
}

#urgency-medium-label {
	background-color: #ffff99;
}

#urgency-low-label {
	background-color: #99ff99;
}