<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swipe list - jQuery Mobile Demos</title>
    <link rel="stylesheet"  href="http://jquerymobile.com/demos/1.3.0-beta.1/css/themes/default/jquery.mobile-1.3.0-beta.1.css">
    <link rel="stylesheet" href="http://jquerymobile.com/demos/1.3.0-beta.1/docs/demos/_assets/css/jqm-demos.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://jquerymobile.com/demos/1.3.0-beta.1/docs/demos/_assets/js/jquery.mobile.demos.js"></script>
    <script src="http://jquerymobile.com/demos/1.3.0-beta.1/js/jquery.mobile-1.3.0-beta.1.js"></script>
    <script src="swipe.js"></script>
  </head>

  <body>

    <div data-role="page">
      <div data-role="header">
        <h1>YODA</h1>
      </div>
      <div data-role="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>

      <div id="confirm" class="ui-content" data-role="popup" data-theme="none">
        <p id="question">Are you sure you want to delete?</p>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <a id="yes" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Yes</a>
          </div>
          <div class="ui-block-b">
            <a id="cancel" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Cancel</a>
          </div>
        </div>
      </div>
    </div>

    {% block js_footer %}{% endblock %}
  </body>
</html>