{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2> Current concerns </h2>
  <ul id="list"
    class="touch"
    data-role="listview"
    data-icon="false"
    data-inset="true"
    data-split-icon="delete"
    data-split-theme="d">
    {% for concern in concerns %}
      <li>
        <a href="#">{{ concern.text }}</a>
        <a href="#" class="delete">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h2> Add a concern </h2>
  <form action="." method="post">
    {{ forms.render(form) }}
    <div data-role="fieldcontain">
      <input type="submit" class="btn primary" value="Submit">
    </div>
  </form>
{% endblock %}