{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2> Current concerns </h2>
  <ul id="list"
    class="touch"
    data-role="listview"
    data-icon="false"
    data-inset="true"
    data-split-icon="delete"
    data-split-theme="d">
    {% for concern in concerns %}
      <li>
        <!-- Should blur out the item -->
        <a href="#">{{ concern.text }}</a>
        <a href="#confirm" class="delete">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h2> Add a concern </h2>
  <form action="." method="post">
    {{ forms.render(form) }}
    <div data-role="fieldcontain">
      <input type="submit" class="btn primary" value="Submit">
    </div>
  </form>

  <div id="confirm" class="ui-content" data-role="popup" data-theme="none">
  <p id="question">Are you sure you want to delete?</p>
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <a id="yes" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Yes</a>
    </div>
    <div class="ui-block-b">
      <a id="cancel" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}